.page-header-sermon {
	min-height: 175px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(159, 171, 190, 0.38);
    margin-bottom: 20px;
}
.article-parent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	article {
		max-width: 330px;
		flex: 0 1 auto;
	}
}
.single-sermon {
	article {
		max-width: 900px;
		margin: 0 auto;
		.inline-social {
			display: flex;
		.social-share-buttons {
				ul {
					display: flex;
					margin: 9px 0 0 ;
					padding: 0;
					list-style-type: none;
    				padding: 10px 0;
					a {
						color: black;
						margin: 0 10px;
						&:hover {
							color: gray;
						}	
					}
				}
			}
		}

	}
}
.sermon-entry-content {
	.sermon-content-wrapper {
		/*width: 80%;
		max-width: 400px;*/
		text-align: center;
		.archive-wrapper {
			max-width: 400px;
    		margin: 0 auto;
		}
		/*Make the video responsive*/
		.video-sermon-single {
			position: relative; 
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%;
			height: auto;

			iframe, object, embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.polaroid-sermon-archive {
		  /*width: 80%;
		  max-width: 400px;*/
		  background-color: white;
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		  margin-bottom: 20px;
		  img {
		  	width: 100%;
		  }

		  .label-wrapper {
			  text-align: center;
			  padding: 10px 20px;

			}
		}
		.sermon-share-download {
			display: flex;
    		justify-content: center;
			.social-wrap {
				i {
					font-size: 24px;
					margin-top: 4px;
					&:hover {
						color: gray;
					}
				}
			}
			.download-wrap, .notes-wrap {
				a {
					color: black;
					&:hover {
						color: gray;
					}
					i {
						padding: 4px 5px 0px 0px;
						font-size: 30px;
					}
				}
			}
			.notes-wrap {
				margin: 0 45px;
				a {
					i {
						font-size: 29px;
	    				padding-top: 2.25px;
					}
				}
			}
		}
		.social-share-buttons {
				ul {
					display: flex;
					margin: 9px 0 0 ;
					padding: 0;
					list-style-type: none;
    				padding: 10px 0;
    				justify-content: center;
					a {
						color: black;
						margin: 0 10px;
						&:hover {
							color: gray;
						}	
					}
				}
			}
		.hide-share-sermon {
			display: none !important;
		}
	}
}
