#colophon {
	.wrapper-footer {
	    position: relative;
	    top: 50%;
	    transform: translateY(50%);

	    .copyright, .site-info {
	    	text-align: center;

	    	span {
	    		padding-left: 3px;
	    	}
	    }
	}
}